$light-color: #ececec;
$danger-color: #FA4300;
$danger-color-hover: #F67500;
$success-color: #459a01;
$light-green-hover: #00A8AE;
$dark-green: #575757;
$textdark-color: #000;
$textlight-color: #fff;
$textgrey-color: #474747;
$bglight: $textlight-color;
$bgdark: $textdark-color;
// $danger-color: #db5111;
//$success-color: #1ab682;
//$light-green-hover: #4b977a;
//$dark-green: #1f5e52;
$mydarkgrey: #575757;
$mygrey: #858585;
$mymainred: #FA4300;
$mylime:#9CE200;
$mygreen: #19D000;
$mygreenultra:#00D440;
$myteal:#00C586;
$mysky: #00A8AE;
$myocean:#005B94;